<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>СВД ВС - Список Страницы</title>
</head>
<body>
    <svg width="31" height="39" viewBox="0 0 31 39" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15.2 39.2V-0.199997L-0.199997 11L15.2 39.2Z" fill="#1B5AA4"></path>
        <path d="M15.2 39.2L30.6 11L15.2 -0.199997V39.2Z" fill="#00ADEE"></path>
    </svg>
    <ul>
        <li>
            <a href="/home_page">
                Главная  
            </a>
        </li>
        <li>
            <a href="/pages-sign-up">
                Регистрация 
            </a>
        </li>
        <li>
            <a href="/pages-sign-in">
                Вход  
            </a>
        </li>
        <li>
            <a href="/pages-profile">
                Профиль  
            </a>
        </li>
    </ul>
</body>
</html>
